.container {
  width: 100%;
  background-color: var(--color-grey-dark-2);

  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 16rem) [col-end])
    [center-end] 1fr [full-end];
  grid-template-rows: 8rem minmax(calc(100vh - 8rem), min-content);

  @media only screen and (max-width: 50em) {
    grid-template-rows: minmax(100vh, min-content);
  }
}

.page {
  grid-column: center-start / center-end;
  grid-row: 2 / span 1;
  padding: 4rem 5rem;
  color: var(--color-white);

  @media only screen and (max-width: 50em) {
    grid-row: 1 / span 1;
  }

  @media only screen and (max-width: 31.25em) {
    padding: 4rem 3rem;
  }
}

a.active-page:link,
a.active-page:visited {
  color: var(--color-white);

  &::after {
    width: 100%;
    background-color: var(--color-primary);
  }
}

a.active-subpage {
  font-weight: 600;
  filter: brightness(1) !important;
}

.txt-center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
.mb-6 {
  margin-bottom: 6rem;
}
.mb-7 {
  margin-bottom: 7rem;
}
.mb-8 {
  margin-bottom: 8rem;
}
