:root {
  --color-white: #f4f4f4;
  --color-white-rgb: 244, 244, 244;
  --color-grey-light-1: #ccc;
  --color-grey-light-2: #c0bab1;
  --color-grey-light-3: #444;
  --color-grey-light-3-rgb: 68, 68, 68;
  --color-grey-dark-1: #333;
  --color-grey-dark-1-rgb: 51, 51, 51;
  --color-grey-dark-2: #222;
  --color-grey-dark-2-rgb: 34, 34, 34;
  --color-grey-dark-3: #111;
  --color-grey-dark-3-rgb: 17, 17, 17;
  --color-black: #000;
  --color-black-rgb: 0, 0, 0;

  --color-primary: #0563bb;
  --color-primary-rgb: 5, 99, 187;
  --color-primary-light: #057bbb;
}
