.about {
  &__main {
    display: grid;
    grid-template-columns: minmax(10rem, 21.5rem) 1fr;
    grid-template-rows: min-content min-content;
    align-items: center;
    column-gap: 3rem;

    @media only screen and (max-width: 50em) {
      grid-template-columns: minmax(10rem, 15rem) 1fr;
      row-gap: 3rem;
    }
  }

  &__photo-wrapper {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;

    @media only screen and (max-width: 50em) {
      grid-row: 1 / span 1;
    }
  }

  &__photo {
    width: 100%;
    border-radius: 5px;
  }

  &__info {
    @media only screen and (max-width: 50em) {
    }
  }

  &__description {
    text-align: justify;

    @media only screen and (max-width: 50em) {
      grid-column: 1 / span 2;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    font-weight: 600;
    line-height: 2;

    display: flex;
    align-items: center;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-primary-light);
    margin-right: 0.3rem;
  }

  &__span {
    display: inline-block;
    margin-left: 0.5rem;
    font-weight: 400;
  }
}
