.btn-admin {
  width: 3.2rem;
  height: 3.2rem;
  background-color: var(--color-grey-dark-3);
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  &:hover &__icon {
    fill: var(--color-primary-light);
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-primary);
    transition: all 0.3s;
  }
}
