.slider {
  position: relative;
  max-width: 120rem;
  height: calc(120rem * 0.625); // calc(120rem * 0.3125);
  margin: 0 auto 4rem;
  box-shadow: 0 0 4rem rgba(var(--color-black-rgb), 0.6);
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--color-grey-light-2);
    z-index: 5;

    @media only screen and (min-width: 75em) {
      display: block;
    }
  }

  &::after {
    bottom: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--color-grey-light-2);
  }

  @media only screen and (min-width: 75em) {
    height: calc(120rem * 0.3125);
  }

  @media only screen and (max-width: 74.9375em) {
    max-width: 100%;
    height: calc(100vw * 0.625);
  }

  @media only screen and (max-width: 28.125em) {
    box-shadow: none;
  }

  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.5s;
    overflow: hidden;

    @media only screen and (min-width: 75em) {
      width: 50%;
    }
  }

  &__img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s;
  }

  &__progress-info {
    display: block;
    position: absolute;
    top: 2rem;
    left: 2rem;
    padding: 0.6rem 1.4rem;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: rgba(var(--color-primary-rgb), 0.7);
    border: 1px solid var(--color-grey-light-3);
    border-radius: 10px;
    z-index: 50;
    transition: all 0.4s;

    &:hover {
      background-color: rgba(var(--color-primary-rgb), 9);
    }

    &:before {
      content: 'This course is currently in progress';
      display: block;
      width: max-content;
      padding: inherit;
      position: absolute;
      top: 50%;
      left: calc(130% + 8px);
      transform: translateY(-50%) scaleX(0);
      transform-origin: left;
      font-size: inherit;
      background-color: rgba(var(--color-grey-light-3-rgb), 0.9);
      border-radius: 10px;
      transition: all 0.2s;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 130%;
      transform: translate(50%, -50%) scaleX(0);
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-right: 8px solid var(--color-grey-light-3);
      transition: all 0.4s;
    }

    &:hover:before,
    &:hover:after {
      transform: translateY(-50%) scaleX(1);
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5rem 15rem 15rem;
    opacity: 0;
    transition: opacity 0.5s 0.1s, transform 0.4s;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    @media only screen and (min-width: 75em) {
      justify-content: space-between;
      padding: 2rem 8rem 5rem;
    }

    @media only screen and (max-width: 31.25em) {
      padding: 5rem 8rem 8rem;
    }
  }

  &__big-rule {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 60%;
    border-radius: 10px;
    background-color: var(--color-primary-light);
    transition: all 0.5s 0.4s;
    z-index: 20;

    @media only screen and (min-width: 75em) {
      display: block;
    }
  }

  &__heading {
    font-size: 4rem;
    text-align: center;

    @media only screen and (min-width: 75em) {
      font-size: 2.6rem;
      margin-bottom: 1rem;
    }

    @media only screen and (max-width: 31.25em) {
      font-size: 3.5rem;
      margin-bottom: 2.5rem;
    }

    @media only screen and (max-width: 28.125em) {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }

  &__infobox {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;

    @media only screen and (max-width: 53.125em), only screen and (min-width: 75em) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 4rem;
    }

    @media only screen and (min-width: 75em) {
      flex: 1 1 auto;
      justify-content: space-between;
      row-gap: 0;
    }

    @media only screen and (max-width: 31.25em) {
      row-gap: 2rem;
    }
  }

  &__goal-list {
    list-style: none;
    flex: 0 1 auto;
  }

  &__list-title {
    display: block;
    margin-bottom: 0.6rem;
    font-weight: 600;
    font-size: 2rem;
    color: var(--color-primary-light);
  }

  &__item {
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 0.5rem;

      @media only screen and (min-width: 75em) {
        margin-bottom: 0.8rem;
      }

      @media only screen and (max-width: 28.125em) {
        margin-bottom: 0.2rem;
      }
    }

    @media only screen and (min-width: 75em) {
      line-height: 1.4;
    }
  }

  &__icon {
    flex: 0 0 auto;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.3rem;
    margin-top: 0.2rem;
    fill: var(--color-primary-light);

    @media only screen and (max-width: 28.125em) {
      margin-top: -0.2rem;
    }
  }

  &__small-rule {
    flex: 0 0 2px;
    height: 100%;
    background-color: var(--color-primary);

    @media only screen and (max-width: 53.125em), only screen and (min-width: 75em) {
      display: none;
    }
  }

  &__navbox {
    flex: 0 0 auto;

    display: flex;
    flex-direction: column;
    row-gap: 3rem;

    @media only screen and (max-width: 53.125em), only screen and (min-width: 75em) {
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
    }

    @media only screen and (max-width: 53.125em), only screen and (min-width: 75em) {
      justify-content: space-evenly;
    }
  }

  &__btn {
    position: absolute;
    top: calc(50% - 2rem);
    width: 4rem;
    height: 4rem;
    border: none;
    outline: none;
    background-color: rgba(var(--color-white-rgb), 0.7);
    border-radius: 50%;
    transition: all 0.2s;
    cursor: pointer;
    z-index: 20;

    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 28.125em) {
      width: 3.2rem;
      height: 3.2rem;
    }

    &:hover {
      background-color: rgba(var(--color-white-rgb), 0.9);

      @media only screen and (max-width: 50em) {
        background-color: rgba(var(--color-white-rgb), 0.7);
      }
    }

    &:active {
      @media only screen and (max-width: 50em) {
        transform: scale(0.9);
      }
    }

    &--left {
      left: 5%;

      @media only screen and (min-width: 75em) {
        left: 2%;
      }
    }

    &--right {
      right: 5%;

      @media only screen and (min-width: 75em) {
        right: 2%;
      }
    }

    &--expand {
      top: 5%;
      right: 5%;
      border: 1px solid var(--color-primary);
      border-radius: 0.8rem;
      background-color: rgba(var(--color-grey-dark-2-rgb), 0.9);

      &:hover {
        background-color: rgba(var(--color-grey-dark-2-rgb), 0.7);

        @media only screen and (max-width: 50em) {
          background-color: rgba(var(--color-grey-dark-2-rgb), 0.9);
        }
      }

      @media only screen and (min-width: 75em) {
        right: 2%;
      }

      @media only screen and (max-width: 50em) {
        display: block;
      }
    }
  }

  &__svg {
    width: 70%;
    height: 70%;
    fill: var(--color-primary);

    &--expand,
    &--close {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: all 0.3s;
    }
  }

  &__dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-size: 0;
    text-align: center;
    z-index: 20;
  }

  &__dot {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border: none;
    border-radius: 50%;
    background-color: var(--color-grey-light-1);
    opacity: 0.6;
    cursor: pointer;

    &:last-child {
      @media only screen and (min-width: 75em) {
        display: none;
      }
    }
  }

  &__dot:not(:last-child) {
    margin-right: 6px;
  }

  &__dot--active {
    background-color: var(--color-grey-dark-1);
    opacity: 0.8;
  }
}
